<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="myLogPath" source="logging.dir"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${myLogPath}/eureka.log</File>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{80} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${myLogPath}/eureka.log.%d{yyyy-MM-dd}</fileNamePattern>
        </rollingPolicy>
    </appender>

    <logger name="com.gy" level="${logback.log.level}" />

    <root level="${logback.log.level}">
        <appender-ref ref="Console" />
        <appender-ref ref="FILE" />
    </root>


</configuration>