<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gy.mapper.sys.UserMapper">

  <resultMap id="BaseResultMap" type="com.gy.domain.dto.sys.User">
    <id column="user_id" jdbcType="CHAR" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="CHAR" property="password" />
    <result column="salt" jdbcType="CHAR" property="salt" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="dept_id" jdbcType="CHAR" property="deptId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user_id" jdbcType="CHAR" property="updateUserId" />
    <result column="update_user_name" jdbcType="VARCHAR" property="updateUserName" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="token" jdbcType="VARCHAR" property="token" />
  </resultMap>


  <sql id="Base_Column_List">
    user_id, user_name, password, salt, email, mobile, status, dept_id, create_time, update_user_id,
    update_user_name, update_time, token
  </sql>

  <select id="selectUserById" parameterType="java.lang.String" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from sys_user where user_id = #{appId,jdbcType=CHAR}
    or user_name = #{appId,jdbcType=VARCHAR}
    or mobile = #{appId,jdbcType=VARCHAR}
  </select>

    <select id="selectListUserPage" parameterType="com.gy.domain.vo.req.UserQuery" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from sys_user where 1 = 1

        <if test="userName != null and userName !=''">
            and user_name = #{userName,jdbcType=VARCHAR},
        </if>

        <if test="deptId != null and deptId !=''">
            and dept_id = #{deptId,jdbcType=CHAR},
        </if>

    </select>


  <select id="selectUserRoles" parameterType="java.lang.String" resultType="java.lang.String">
    select group_concat(sr.role_code) as roles
    from sys_user su
    join sys_user_role_rel surl on surl.user_id = su.user_id
    join sys_role sr on sr.role_id = surl.role_id
    where su.user_id = #{userId,jdbcType=CHAR}
  </select>

  <delete id="deleteUserById" parameterType="java.lang.String">
    delete from sys_user where user_id = #{userId,jdbcType=CHAR}
  </delete>

  <insert id="insertUser" parameterType="com.gy.domain.dto.sys.User">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
        user_id,
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="salt != null">
        salt,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
        create_time,
      <if test="updateUserId != null">
        update_user_id,
      </if>
      <if test="updateUserName != null">
        update_user_name,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="token != null">
        token
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      seq(),
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        #{salt,jdbcType=CHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=CHAR},
      </if>
      now(),
      <if test="updateUserId != null">
        #{updateUserId,jdbcType=CHAR},
      </if>
      <if test="updateUserName != null">
        #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR}
      </if>
    </trim>
  </insert>

  <update id="updateUser" parameterType="com.gy.domain.dto.sys.User">
    update sys_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=CHAR},
      </if>
      <if test="salt != null">
        salt = #{salt,jdbcType=CHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateUserId != null">
        update_user_id = #{updateUserId,jdbcType=CHAR},
      </if>
      <if test="updateUserName != null">
        update_user_name = #{updateUserName,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="token != null">
        token = #{token,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=CHAR}
  </update>

  <update id="reSetPassword" parameterType="java.lang.String">
      update sys_user set password = #{password,jdbcType=CHAR} where user_id = #{userId,jdbcType=CHAR};
  </update>
</mapper>